* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: rgb(30, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(27, 148, 138);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: rgb(6, 65, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    height: 250px;
    width: 250px;
    background-color: royalblue;
}