* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    color: white;
    background-color: blue;
    overflow: hidden;
    text-align: center;
    text-wrap: wrap;
}

h1 span {
    display: inline-block;
}