@font-face {
    font-family: 'china';
    src: url("./NeueMachina-Light.otf") format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.section-1 {
    height: 100%;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 55px;
}

.part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

nav h1 {
    font-size: 25px;
}

nav h4 {
    font-size: 15px;
    font-weight: 500px;
}

nav h1 i {
    rotate: 45deg;
    display: inline-block;
    margin: 0px 5px;
    font-size: 30px;
    cursor: pointer;
}

nav button {
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #000;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.center {
    /* background-color: red; */
    height: 85%;
    width: 100%;
    display: flex;
}

.center-part1 {
    /* background-color: purple; */
    width: 50%;
    height: 100%;
    text-align: left;
    padding: 35px 65px;
}

.center-part2 {
    /* background-color: orange; */
    width: 50%;
    height: 100%;
}

.center-part1 h1 {
    font-size: 70px;
    margin-bottom: 25px;
    font-family: 'china', sans-serif;
    /* Added fallback font */
}

.center-part1 p {
    padding: 10px 0;
    width: 80%;
}

.center-part1 button {
    color: white;
    background-color: rgb(32, 29, 29);
    font-weight: 550;
    font-size: 15px;
    word-spacing: 3px;
    border-radius: 10px;
    padding: 15px 35px;
    margin: 10px 0;
}

.center-part1 button:hover {
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    color: black;
    font-weight: 550;
    cursor: pointer;
}